<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gifPNGCount</key>
		<integer>30</integer>
		<key>secondOfFrame</key>
		<integer>10</integer>
		<key>firstPNGName</key>
		<string>gif_png_0000_</string>
		<key>thumFirstPNGName</key>
		<string>gif_small_png_0000_</string>
	</dict>
	<dict>
		<key>gifPNGCount</key>
		<integer>20</integer>
		<key>secondOfFrame</key>
		<integer>10</integer>
		<key>firstPNGName</key>
		<string>gif_png_0001_</string>
		<key>thumFirstPNGName</key>
		<string>gif_small_png_0001_</string>
	</dict>
	<dict>
		<key>gifPNGCount</key>
		<integer>26</integer>
		<key>secondOfFrame</key>
		<integer>10</integer>
		<key>firstPNGName</key>
		<string>gif_png_0002_</string>
		<key>thumFirstPNGName</key>
		<string>gif_small_png_0002_</string>
	</dict>
	<dict>
		<key>gifPNGCount</key>
		<integer>30</integer>
		<key>secondOfFrame</key>
		<integer>10</integer>
		<key>firstPNGName</key>
		<string>gif_png_0003_</string>
		<key>thumFirstPNGName</key>
		<string>gif_small_png_0003_</string>
	</dict>
	<dict>
		<key>gifPNGCount</key>
		<integer>22</integer>
		<key>secondOfFrame</key>
		<integer>10</integer>
		<key>firstPNGName</key>
		<string>gif_png_0004_</string>
		<key>thumFirstPNGName</key>
		<string>gif_small_png_0004_</string>
	</dict>
	<dict>
		<key>gifPNGCount</key>
		<integer>20</integer>
		<key>secondOfFrame</key>
		<integer>10</integer>
		<key>firstPNGName</key>
		<string>gif_png_0005_</string>
		<key>thumFirstPNGName</key>
		<string>gif_small_png_0005_</string>
	</dict>
	<dict>
		<key>gifPNGCount</key>
		<integer>31</integer>
		<key>secondOfFrame</key>
		<integer>10</integer>
		<key>firstPNGName</key>
		<string>gif_png_0006_</string>
		<key>thumFirstPNGName</key>
		<string>gif_small_png_0006_</string>
	</dict>
	<dict>
		<key>gifPNGCount</key>
		<integer>31</integer>
		<key>secondOfFrame</key>
		<integer>10</integer>
		<key>firstPNGName</key>
		<string>gif_png_0007_</string>
		<key>thumFirstPNGName</key>
		<string>gif_small_png_0007_</string>
	</dict>
</array>
</plist>
